/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ffffff;

}

::-webkit-scrollbar-thumb {
    background: #311702;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #311702;
}

