/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ffffff;

}

::-webkit-scrollbar-thumb {
    background: #311702;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #311702;
}
.custom-cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  border: 2pxsolid #d4a373;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: transform0.15sease;
}